.graphic {
    width: 100%;
    height: 355px;
    border-radius: 16px;
    box-sizing: border-box;
    background-color: #10161C;
    border: 1px solid #10161C;
    box-shadow: inset 2px -2px 6px 0 #1C232A, inset -2px -2px 6px 0 #040B11;
    margin-top: 30px;
    margin-bottom: 40px;
}

.graphic ul {
    padding: 0px;
}

.filters {
    display: flex;
    justify-content: space-evenly;
    margin-top: 31px;
}

.filters li {
    list-style-type: none;
    font-size: 18px;
    line-height: 25px;
    margin-left: 18px;
    width: 100%;
}

li .active {
    width: 28px;
    color: #FFBE00;
    border-bottom: 2px solid #FFBE00;
}

.valor {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 169px;
    height: 61px;
    justify-content: center;
    margin-top: 30px;
}

.valor h3 {
    height: 26px;
    width: 16.9px;
    color: #FFFFFF;
    font-family: ".SF NS Display";
    font-size: 22px;
    letter-spacing: 0;
    line-height: 26px;
    margin: 0;
}

.valor h1 {
    height: 61px;
    width: 149.5px;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 61px;
    text-align: center;
    margin: 0;
}