.navbar{
    height: 107px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar img {
    width: 22px;
    height: 24px;
    cursor: pointer;
}

.navbar h1 {
    line-height: 26px;
    font-size: 18px;
}