body {
  margin: 0;
  font-family: 'Avenir Heavy';
  background-color: #040B11;
  color: white;
}

.App {
  width: 326px;
  margin-left: auto;
  margin-right: auto;
}
@font-face {
  font-family: "Avenir Heavy";
  src: url("./assets/Avenir\ Heavy.ttf");
}
@font-face {
  font-family: ".SF NS Display";
  src: url("./assets/FontsFree-Net-System-San-Francisco-Display-Bold.ttf");
}